$main-text-color: #000;
$alt-text-color: #fff;
$accent-color: #5101A6;
$inactive-interact-color: #200142;

$accent-bg-color: #f6f6fa;
$btn-bg-color: #fff;
$btn-alt-bg-color: #5101A6;

$slider-dot-inactive-color: #e0e0e0;

$form-input-border-color: #fff;
$form-focus-color: #BB6BD9